telethon==1.40.0  # Библиотека для работы с Telegram API, используется для взаимодействия с Telegram через бота
gspread==5.4.0  # Библиотека для работы с Google Sheets API, используется для чтения и записи данных в Google Таблицы
oauth2client==4.1.3  # Библиотека для авторизации через Google API, используется для доступа к Google Sheets через сервисный аккаунт
python-dotenv==1.1.1  # Библиотека для работы с переменными окружения из файла .env, помогает загружать ключи и конфигурации из .env в приложение
